button {
  background-color: #e1bf43;
  color: white;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  height: 50px;
  width: 200px;
  transition-duration: 0.5s;
}

button:hover {
  background-color: black;
  color: #f8dc75;
}

body {
  background-color: #f8dc75;
}
.page {
  background-color: #f8dc75;
}

.form-control {
  background-color: #f6d044;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}
