h2 {
  margin-top: 5px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  margin-bottom: 5px;
  color: #5c6e58;
}

button {
  display: inline-block;
  font-size: 16px;
  height: 50px;
  width: 200px;
  margin-left: auto;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: #dcd8a2;
  color: black;
  border: 2px solid black;
  transition-duration: 0.5s;
}

button:hover {
  background-color: black;
  color: #dcd8a2;
}

#btn {
  padding: 15px 30px;
  border-radius: 30px;
  color: black;
  border: 2px solid black;
  margin-bottom: 20px;
}

body {
}

.form-control {
  background-color: white;
  border-radius: 5px;
}

div {
  color: black;
}

label {
  color: black;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

.formBorder {
  display: grid;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #dcd8a2;
  position: page;
  margin: auto;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formBorder {
  box-shadow: 0 5px 5px oklch(0 0 0 / 0.4);
}

.buttonClass {
  margin: 23px;
  text-align: center;
}

textarea {
  background-color: #dcd8a2;
  width: 90%;
  height: 130px;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  padding-left: 25px;
}

.date {
  background-color: #dcd8a2;
  margin-left: 25px;
  width: 90%;
  height: 38px;
  border-radius: 10px;
  border: none;
  padding-left: 25px;
  margin-bottom: 2px;
}

.num {
  background-color: #dcd8a2;
  margin-top: auto;
  margin-left: 23px;
  width: 90%;
  height: 38px;
  border-radius: 10px;
  border: none;
  padding-left: 25px;
}

ngb-rating {
  font-size: 50px;
  gap: 2px;
  margin-left: 17%;
}

.star {
  font-size: 60px;
  color: #b0c4de;
}

.filled.bad {
  color: #f2d349;
}
//#5c6e58 dark green
// #8aa899 light green
// #f2d349 yellow

@media (width < 500) {
  .formBorder {
    display: grid;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #dcd8a2;
    position: page;
    margin: auto;
  }

  button {
    font-size: 10px;
    height: 30px;
    width: 100px;
  }

  .num {
    margin-top: auto;
    margin-left: 23px;
    width: 90%;
    height: 20px;
  }

  textarea {
    width: 90%;
    height: 100px;
    margin-left: 20px;
  }
}
