@import '../../../../content/scss/functions';
h2 {
  margin-top: 5px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  margin-bottom: 5px;
  color: var(--text-color-secondary);
}

button {
  display: inline-block;
  font-size: px-to-rem(16);
  height: 50px;
  width: 200px;
  margin-left: auto;
  padding: 15px 30px;
  border-radius: 30px;
  background-color: var(--textarea-color);
  color: black;
  border: 2px solid black;
  transition-duration: 0.5s;
}

button:hover {
  background-color: black;
  color: var(--textarea-color);
}

#btn {
  padding: 15px 30px;
  border-radius: 30px;
  color: black;
  border: 2px solid black;
  margin-bottom: 20px;
}

body {
}

.form-control {
  background-color: white;
  border-radius: 5px;
}

div {
  color: black;
}

label {
  color: black;
  font-weight: bold;
  font-size: medium;
  text-align: center;
}

.formBorder {
  width: 500px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid var(--background-accent-1);
  margin: auto;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formBorder {
  box-shadow: 0 5px 5px oklch(0 0 0 / 0.4);
}

.buttonClass {
  margin: 23px;
  text-align: center;
}

textarea {
  background-color: var(--textarea-color);
  width: 90%;
  height: 130px;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  padding-left: 25px;
}

.date {
  margin-left: 25px;
  width: 90%;
  height: 38px;
  border-radius: 10px;
  border: none;
  padding-left: 25px;
  margin-bottom: 2px;
  background-color: var(--textarea-color);
}

.num {
  margin-top: auto;
  margin-left: 23px;
  width: 90%;
  height: 38px;
  border-radius: 10px;
  border: none;
  padding-left: 25px;
  background-color: var(--textarea-color);
}

ngb-rating {
  gap: 2px;
  margin-left: 14%;
}

.star {
  font-size: px-to-rem(70);
  color: var(--text-color-secondary);
}
.filled.bad {
  color: var(--icon-star);
}
//#5c6e58 dark green
// #8aa899 light green
// #f2d349 yellow

@media (width < 500px) {
  .formBorder {
    display: grid;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--background-accent-1);
    margin: auto;
  }

  button {
    font-size: px-to-rem(8);
    height: 50px;
    width: 120px;
  }

  .num {
    margin: auto auto auto 5%;
    width: 90%;
    height: 35px;
  }

  textarea {
    margin: auto auto auto 5%;
    width: 90%;
    height: 100px;
  }
  .star {
    font-size: 50px;
    color: var(--text-color-secondary);
  }
}

@media (width < 400px) {
  .formBorder {
    display: grid;
    max-width: 300px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid var(--background-accent-1);
    margin: auto;
  }

  button {
    font-size: px-to-rem(6);
    height: 40px;
    width: 100px;
  }

  .num {
    margin: auto auto auto 5%;
    width: 90%;
    height: 35px;
  }

  textarea {
    margin: auto auto auto 5%;
    width: 90%;
    height: 100px;
  }
  .star {
    font-size: 40px;
    color: var(--text-color-secondary);
  }
}
