.listing-form {
  display: flex;
  padding-top: 20px;
  padding-left: -50px;
  padding-right: 50px;
  gap: 100px;
}

.image-upload {
  width: 50%;
  margin: auto;
  padding-left: 10px;
  border: black;
}

.drop-area {
  text-align: center;
}
.drop-area:hover {
  color: #3e8acc;
}

.itemDetails {
  width: 50%;
  padding: 10px;
  margin: 10px;
  background: transparent;
}

.form-control {
  background: transparent;
}

.title-des {
  border: 1.2px solid #000000; /* Light gray border */
  padding-left: 10px; /* Spacing inside the box */
  padding-right: 30px;
  width: 100%; /* Full width */
  height: 320px; /* Height */
  font-size: 16px; /* Text size */
  display: inline-block;
}

.small-labels {
  display: flex;
  gap: 10px;
}

.small-input {
  width: 100%; /* Makes input take full width of its column */
  max-width: 180px;
  background: transparent;
}

.cat {
  border: 1.2px solid #000000; /* Light gray border */
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; /* Full width */
  height: 100px; /* Height */
  font-size: 16px; /* Text size */
  margin-top: 20px;
}

.condition-price {
  border: 1.2px solid #000000; /* Light gray border */
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; /* Full width */
  height: 210px; /* Height */
  font-size: 16px; /* Text size */
  margin-top: 20px;
}

.mb-3 {
  font-size: 16px;
}
