<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-item-heading" data-cy="ItemCreateUpdateHeading">Create or edit a Item</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let itemTitleRef = editForm.get('itemTitle')!;
        <div class="mb-3">
          <label class="form-label" for="field_itemTitle">Item Title</label>
          <input type="text" class="form-control" name="itemTitle" id="field_itemTitle" data-cy="itemTitle" formControlName="itemTitle" />
          @if (itemTitleRef.invalid && (itemTitleRef.dirty || itemTitleRef.touched)) {
            <div>
              @if (editForm.get('itemTitle')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let itemIdRef = editForm.get('itemId')!;
        <div class="mb-3">
          <label class="form-label" for="field_itemId">Item Id</label>
          <input type="number" class="form-control" name="itemId" id="field_itemId" data-cy="itemId" formControlName="itemId" />
          @if (itemIdRef.invalid && (itemIdRef.dirty || itemIdRef.touched)) {
            <div>
              @if (editForm.get('itemId')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('itemId')?.errors?.number">This field should be a number.</small>
            </div>
          }
        </div>

        @let itemPriceRef = editForm.get('itemPrice')!;
        <div class="mb-3">
          <label class="form-label" for="field_itemPrice">Item Price</label>
          <input type="number" class="form-control" name="itemPrice" id="field_itemPrice" data-cy="itemPrice" formControlName="itemPrice" />
          @if (itemPriceRef.invalid && (itemPriceRef.dirty || itemPriceRef.touched)) {
            <div>
              @if (editForm.get('itemPrice')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('itemPrice')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_itemSize">Item Size</label>
          <input type="text" class="form-control" name="itemSize" id="field_itemSize" data-cy="itemSize" formControlName="itemSize" />
        </div>

        @let itemConditionRef = editForm.get('itemCondition')!;
        <div class="mb-3">
          <label class="form-label" for="field_itemCondition">Item Condition</label>
          <select
            class="form-control"
            name="itemCondition"
            formControlName="itemCondition"
            id="field_itemCondition"
            data-cy="itemCondition"
          >
            <option [ngValue]="null"></option>
            @for (condition of conditionValues; track $index) {
              <option [value]="condition">
                {{
                  {
                    null: '',
                    BRANDNEW: 'BRANDNEW',
                    LIKENEW: 'LIKENEW',
                    FAIRLYUSED: 'FAIRLYUSED',
                    WELLUSED: 'WELLUSED',
                    HEAVILYUSED: 'HEAVILYUSED',
                  }[condition]
                }}
              </option>
            }
          </select>
          @if (itemConditionRef.invalid && (itemConditionRef.dirty || itemConditionRef.touched)) {
            <div>
              @if (editForm.get('itemCondition')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let itemCategoryRef = editForm.get('itemCategory')!;
        <div class="mb-3">
          <label class="form-label" for="field_itemCategory">Item Category</label>
          <select class="form-control" name="itemCategory" formControlName="itemCategory" id="field_itemCategory" data-cy="itemCategory">
            <option [ngValue]="null"></option>
            @for (category of categoryValues; track $index) {
              <option [value]="category">
                {{
                  {
                    null: '',
                    FOOTWEAR: 'FOOTWEAR',
                    CLOTHING: 'CLOTHING',
                    HEADWEAR: 'HEADWEAR',
                    ELECTRONICS: 'ELECTRONICS',
                    HOBBIES: 'HOBBIES',
                    BAGS: 'BAGS',
                    OTHERS: 'OTHERS',
                  }[category]
                }}
              </option>
            }
          </select>
          @if (itemCategoryRef.invalid && (itemCategoryRef.dirty || itemCategoryRef.touched)) {
            <div>
              @if (editForm.get('itemCategory')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_itemColour">Item Colour</label>
          <input
            type="text"
            class="form-control"
            name="itemColour"
            id="field_itemColour"
            data-cy="itemColour"
            formControlName="itemColour"
          />
        </div>

        @let itemImageRef = editForm.get('itemImage')!;
        <div class="mb-3">
          <label class="form-label" for="field_itemImage">Item Image</label>
          <div>
            @if (itemImageRef.value) {
              <img
                [src]="'data:' + editForm.get('itemImageContentType')!.value + ';base64,' + itemImageRef.value"
                style="max-height: 100px"
                alt="item"
              />
            }
            @if (itemImageRef.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('itemImageContentType')!.value }}, {{ byteSize(itemImageRef.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('itemImage', 'itemImageContentType', 'file_itemImage')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input type="file" id="file_itemImage" data-cy="itemImage" (change)="setFileData($event, 'itemImage', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="itemImage" id="field_itemImage" data-cy="itemImage" formControlName="itemImage" />
          <input
            type="hidden"
            class="form-control"
            name="itemImageContentType"
            id="field_itemImageContentType"
            formControlName="itemImageContentType"
          />
          @if (itemImageRef.invalid && (itemImageRef.dirty || itemImageRef.touched)) {
            <div>
              @if (editForm.get('itemImage')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let timeListedRef = editForm.get('timeListed')!;
        <div class="mb-3">
          <label class="form-label" for="field_timeListed">Time Listed</label>
          <div class="d-flex">
            <input
              id="field_timeListed"
              data-cy="timeListed"
              type="datetime-local"
              class="form-control"
              name="timeListed"
              formControlName="timeListed"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (timeListedRef.invalid && (timeListedRef.dirty || timeListedRef.touched)) {
            <div>
              @if (editForm.get('timeListed')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('timeListed')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
