#page {
}
.commentBoxRight {
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  gap: 20px;
  width: 650px;
  height: 150px;
  overflow: hidden;
  border: 2px solid #dcd8a2;
  display: grid;
  margin: auto auto 5px;
}
.commentBoxRight:hover {
  transform: translateY(-5px);
  transition: all ease 0.3s;
}
.scrollbarBoxRight {
  width: 800px;
  height: 500px;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  gap: 20px;
}

.scrollbarBoxRight::-webkit-scrollbar-thumb {
  background-color: black;
}
.scrollbarBoxRight::-webkit-scrollbar-track {
  background: #dcd8a2;
}

#box {
  display: grid;
  padding: 20px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.avRating {
  place-items: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #dcd8a2;
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}
.avRating h1 {
  font-size: 100px;
  border-radius: 5px;
}
.star {
  font-size: 40px;
  position: relative;
  display: inline-block;
}
.star .filled {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.avRating:hover {
  transform: translateY(-5px);
  transition: all ease 0.3s;
}
.star1 {
  font-size: 40px;
}
.newBox {
  margin: auto;
  width: 300px;
  height: 400px;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #dcd8a2;
  gap: 5px;
  padding: 10px;
}

.newBox h1 {
  margin: 0;
  font-weight: bold;
  font-size: 100px;
}

.newBox p {
  margin: 0;
  gap: normal;
  font-size: 15px;
}

.newBox:hover {
  transform: translateY(-5px);
  transition: all ease 0.3s;
}

.avRating2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #dcd8a2;
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}
.ratingBoxLeft {
  height: 500px;
  width: 500px;
  align-items: center;
  justify-content: center;
  display: grid;
  place-items: center;
  margin-left: 15px;
}
.ratingBoxLeft2 {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  position: relative;
}
h2 {
  font-weight: bold;
  text-align: center;
}

#headingL {
  text-align: left;
}
p {
  margin: 2px;
}
#id {
  text-decoration: underline;
}

#dialogue {
  margin-left: 10%;
  text-align: left;
}
#rates {
  text-align: right;
  color: #f2d349;
}
#date {
  text-align: right;
  font-size: 13px;
}
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

p {
  font-family: 'cursive';
}

button {
  background-color: #dcd8a2;
  border: 2px solid black;
  display: inline-block;
  border-radius: 14px;
  font-size: 13px;
  height: 50px;
  width: 150px;
  transition-duration: 0.5s;
  color: black;
}

button:hover {
  background-color: black;
  color: #dcd8a2;
  border: 2px solid #dcd8a2;
}

#tD {
  width: 50px;
  position: relative;
}

.filterButton {
  background-color: #dcd8a2;
  border: 2px solid black;
  display: inline-block;
  border-radius: 14px;
  font-size: 13px;
  height: 30px;
  width: 150px;
  color: black;
}

.filterButton:hover {
  background-color: black;
  transition-duration: 0.5s;
  color: #dcd8a2;
}

#filter1 {
  border-radius: 15px;
  background-color: #dcd8a2;
  border: 2px solid black;
  color: black;
}

#filter1::placeholder {
  color: gray;
}

#heart {
  color: red;
}

#aboutUser {
  font-size: 10px;
  color: #a7a7a7;
}

@media (width < 1200px) {
  #box {
    gap: 3rem;
  }

  #filter1 {
    width: 120px;
    font-size: 15px;
  }
  .filterButton {
    width: 120px;
    font-size: 15px;
  }
}

@media (width < 900px) {
  #box {
    flex-direction: column;
  }

  .ratingBoxLeft {
    margin: auto;
  }

  .commentBoxRight {
    width: 500px;
    height: 200px;
    margin: auto auto 5px;
  }

  .scrollbarBoxRight {
    width: 700px;
    grid-template-columns: repeat(2, 1fr);
  }
  #filter1 {
    width: 150px;
    font-size: 15px;
  }
  .filterButton {
    width: 150px;
    font-size: 15px;
  }
}

@media (width < 600px) {
  .scrollbarBoxRight {
    grid-template-columns: repeat(1, 1fr);
  }

  .commentBoxRight {
    width: 450px;
    height: 175px;
    margin: auto auto 5px;
  }

  .scrollbarBoxRight {
    width: 500px;
    grid-template-columns: repeat(2, 1fr);
  }
  #filter1 {
    width: 150px;
    font-size: 15px;
  }
  .filterButton {
    width: 100px;
    font-size: 15px;
  }
}

@media (width < 400px) {
  .scrollbarBoxRight {
    grid-template-columns: repeat(1, 1fr);
  }

  .commentBoxRight {
    width: 250px;
    height: 200px;
    margin: auto auto 5px;
  }

  .scrollbarBoxRight {
    width: 300px;
    grid-template-columns: repeat(2, 1fr);
  }
  #filter1 {
    width: 150px;
    font-size: 15px;
  }
  .filterButton {
    width: 100px;
    font-size: 15px;
  }
}
