:root {
  background-color: #f8dc75;
}
#page {
  background-color: #f8dc75;
  border-color: #f8dc75;
}
.commentBoxRight {
  background-color: white;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  gap: 10px;
  width: 565px;
  margin-left: 20px;
}
.commentBoxRight:hover {
  transform: translateY(-5px);
  transition: all ease 0.3s;
}

.scrollbarBoxRight {
  width: 600px;
  height: 500px;
  border: none;
  overflow-y: scroll;
}

.scrollbarBoxRight::-webkit-scrollbar-thumb {
  background-color: black;
}
.box {
  display: grid;
  padding: 10px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.avRating {
  place-items: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #f6d044;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.avRating h1 {
  font-size: 100px;
  border-radius: 5px;
}
.star {
  font-size: 50px;
}
.avRating:hover {
  transform: translateY(-5px);
  transition: all ease 0.3s;
}
.ratingBoxLeft {
  height: 500px;
  width: 500px;
  align-items: center;
  justify-content: center;
  display: grid;
  place-items: center;
}
h2 {
  font-weight: bold;
  text-align: center;
}

#headingL {
  text-align: left;
}
p {
  margin: 2px;
}
#id {
  text-decoration: underline;
}

#dialogue {
  margin-left: 10%;
  text-align: left;
}
#rates {
  text-align: right;
  color: gold;
}
#date {
  text-align: right;
  font-size: 13px;
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.d-flex justify-content-end {
  padding: 10px 15px;
  border-radius: 5px;
  color: #3e8acc;
}

#btn btn-primary jh-create-entity create-review {
  color: black;
}

p {
  font-family: 'cursive';
}

button {
  background-color: #e1bf43;
  color: white;
  display: inline-block;
  border-radius: 14px;
  font-size: 13px;
  height: 50px;
  width: 150px;
  transition-duration: 0.5s;
  color: black;
}

button:hover {
  background-color: black;
  color: #f8dc75;
}

#tD {
  width: 50px;
  position: relative;
}
#stars {
  position: absolute;
  background-color: gold;
  top: 0;
  left: 0;
  height: 18px;
}
