:root {
  background-color: #f8dc75;
}

#page {
  background-color: #f8dc75;
  border-color: #f8dc75;
}

.commentBox {
  background-color: white;
  border: 2px solid #bbbbbb;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
}

#headingL {
  text-align: left;
}
p {
  margin: 2px;
}
#id {
  text-decoration: underline;
}

#dialogue {
  text-align: left;
}
#rates {
  text-align: right;
}
#date {
  text-align: right;
}
.btn-group {
  border-radius: 5px;
  background-color: aquamarine;
}

.scroll {
  margin: 2%;
  border-color: burlywood;
}
.scroll-b {
  overflow: hidden;
  overflow-y: auto;
}
.scrollbar {
  color: black;
}
.btn btn-info btn-sm {
  background-color: #3e8acc;
}
.d-flex justify-content-end {
  padding: 10px 15px;
  border-radius: 5px;
  color: #3e8acc;
}

#btn btn-primary jh-create-entity create-review {
  color: black;
}

p {
  font-family: 'cursive';
}

button {
  background-color: #e1bf43;
  color: white;
  display: inline-block;
  border-radius: 14px;
  font-size: 13px;
  height: 50px;
  width: 150px;
  transition-duration: 0.5s;
  color: black;
}

button:hover {
  background-color: black;
  color: #f8dc75;
}

.commentBox:hover {
  transform: translateY(-5px);
  transition: all ease 0.3s;
}
