<div id="page">
  <h2 id="page-heading" data-cy="ReviewHeading">
    <span>Reviews</span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (reviews?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Reviews found</span>
    </div>
  }

  @if (reviews && reviews.length > 0) {
    <div class="box">
      <div class="ratingBoxLeft">
        <div class="avRating">
          <h2 id="headingL">3.5</h2>
          <div class="star-outer">
            <div class="star-inner">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
          </div>
          <p>10</p>
          <div class="ratprog">
            <div class="rateVal"></div>
            <p>5</p>
            <div class="prog">
              <div class="bar"></div>
            </div>
          </div>
        </div>
        <div class="scroll">
          <div class="scroll-Box">
            <div class="scrollbarBoxRight">
              @for (review of reviews; track trackId(review)) {
                <div class="commentBoxRight">
                  <div style="display: flex; justify-content: space-between">
                    <p id="userName">
                      <img src="avatar.png" alt="Avatar" class="avatar" />
                      <a [routerLink]="['/review', review.id, 'view']">user{{ review.id }}</a>
                    </p>
                    <p id="rates">
                      <span *ngFor="let index of [0, 1, 2, 3, 4]">
                        {{ index < (review.rating || 0) ? '&#9733;' : '&#9734;' }}
                      </span>
                    </p>
                  </div>
                  <p id="dialogue">
                    {{ review.reviewText }}
                  </p>
                  <p id="date">
                    {{ review.reviewDate | formatMediumDate }}
                  </p>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rating">
              <div class="d-flex">
                <span>Rating</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reviewText">
              <div class="d-flex">
                <span>Review Text</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reviewDate">
              <div class="d-flex">
                <span>Review Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (review of reviews; track trackId(review)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/review', review.id, 'view']">{{ review.id }}</a>
              </td>
              <td>
                {{ review.rating }}
              </td>
              <td>
                {{ review.reviewText }}
              </td>
              <td>{{ review.reviewDate | formatMediumDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/review', review.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/review', review.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(review)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  <div class="d-flex justify-content-end">
    <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
      <span>Refresh list</span>
    </button>

    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-review"
      [routerLink]="['/review/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span>Create a new Review</span>
    </button>
  </div>
</div>
