<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-status-heading" data-cy="ProductStatusCreateUpdateHeading">Create or edit a Product Status</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            @for (productState of productStateValues; track $index) {
              <option [value]="productState">
                {{
                  {
                    null: '',
                    PENDING: 'PENDING',
                    REJECTED: 'REJECTED',
                    RESERVED: 'RESERVED',
                    COMPLETED: 'COMPLETED',
                    CANCELLED: 'CANCELLED',
                    UNRESERVED: 'UNRESERVED',
                  }[productState]
                }}
              </option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_meetingTime">Meeting Time</label>
          <div class="d-flex">
            <input
              id="field_meetingTime"
              data-cy="meetingTime"
              type="datetime-local"
              class="form-control"
              name="meetingTime"
              formControlName="meetingTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_item">Item</label>
          <select class="form-control" id="field_item" data-cy="item" name="item" formControlName="item" [compareWith]="compareItem">
            <option [ngValue]="null"></option>
            @for (itemOption of itemsCollection; track $index) {
              <option [ngValue]="itemOption">{{ itemOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_conversation">Conversation</label>
          <select
            class="form-control"
            id="field_conversation"
            data-cy="conversation"
            name="conversation"
            formControlName="conversation"
            [compareWith]="compareConversation"
          >
            <option [ngValue]="null"></option>
            @for (conversationOption of conversationsCollection; track $index) {
              <option [ngValue]="conversationOption">{{ conversationOption.id }}</option>
            }
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_profileDetails">Profile Details</label>
          <select
            class="form-control"
            id="field_profileDetails"
            data-cy="profileDetails"
            name="profileDetails"
            formControlName="profileDetails"
            [compareWith]="compareProfileDetails"
          >
            <option [ngValue]="null"></option>
            @for (profileDetailsOption of profileDetailsSharedCollection; track $index) {
              <option [ngValue]="profileDetailsOption">{{ profileDetailsOption.id }}</option>
            }
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_profileDetails1">Profile Details1</label>
          <select
            class="form-control"
            id="field_profileDetails1"
            data-cy="profileDetails1"
            name="profileDetails1"
            formControlName="profileDetails1"
            [compareWith]="compareProfileDetails"
          >
            <option [ngValue]="null"></option>
            @for (profileDetailsOption of profileDetailsSharedCollection; track $index) {
              <option [ngValue]="profileDetailsOption">{{ profileDetailsOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_location">Location</label>
          <select
            class="form-control"
            id="field_location"
            data-cy="location"
            name="location"
            formControlName="location"
            [compareWith]="compareLocation"
          >
            <option [ngValue]="null"></option>
            @for (locationOption of locationsSharedCollection; track $index) {
              <option [ngValue]="locationOption">{{ locationOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
