<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (userInteraction(); as userInteractionRef) {
      <div>
        <h2 data-cy="userInteractionDetailsHeading"><span>User Interaction</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ userInteractionRef.id }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ { null: '', SEARCH: 'SEARCH', RECOMMENDATION: 'RECOMMENDATION' }[userInteractionRef.type ?? 'null'] }}</span>
          </dd>
          <dt><span>Details</span></dt>
          <dd>
            <span>{{ userInteractionRef.details }}</span>
          </dd>
          <dt><span>Interaction Date</span></dt>
          <dd>
            <span>{{ userInteractionRef.interactionDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/user-interaction', userInteractionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
