<div class="container message-detail">
  <div class="row justify-content-center">
    <div class="col-8">
      @if (message(); as messageRef) {
        <div class="message-header d-flex justify-content-between align-items-center">
          <h2 data-cy="messageDetailsHeading">Message</h2>
          <div>
            <button type="submit" (click)="previousState()" class="btn btn-info me-2" data-cy="entityDetailsBackButton">
              <fa-icon icon="arrow-left"></fa-icon>
              <span>Back</span>
            </button>

            <button type="button" [routerLink]="['/message', messageRef.id, 'edit']" class="btn btn-primary">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span>Edit</span>
            </button>
          </div>
        </div>

        <hr />

        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>{{ messageRef.id }}</dd>

          <dt><span>Content</span></dt>
          <dd>{{ messageRef.content }}</dd>

          <dt><span>Timestamp</span></dt>
          <dd>{{ messageRef.timestamp | formatMediumDatetime }}</dd>

          <dt><span>Is Read</span></dt>
          <dd>{{ messageRef.isRead }}</dd>

          <dt><span>Conversation</span></dt>
          <dd>
            @if (messageRef.conversation) {
              <a [routerLink]="['/conversation', messageRef.conversation.id, 'view']">
                {{ messageRef.conversation.id }}
              </a>
            }
          </dd>

          <dt><span>Profile Details</span></dt>
          <dd>
            @if (messageRef.profileDetails) {
              <a [routerLink]="['/profile-details', messageRef.profileDetails.id, 'view']">
                {{ messageRef.profileDetails.id }}
              </a>
            }
          </dd>
        </dl>
      }
    </div>
  </div>
</div>
