<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-user-interaction-heading" data-cy="UserInteractionCreateUpdateHeading">Create or edit a User Interaction</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let typeRef = editForm.get('type')!;
        <div class="mb-3">
          <label class="form-label" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null"></option>
            @for (interactionType of interactionTypeValues; track $index) {
              <option [value]="interactionType">
                {{ { null: '', SEARCH: 'SEARCH', RECOMMENDATION: 'RECOMMENDATION' }[interactionType] }}
              </option>
            }
          </select>
          @if (typeRef.invalid && (typeRef.dirty || typeRef.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_details">Details</label>
          <input type="text" class="form-control" name="details" id="field_details" data-cy="details" formControlName="details" />
        </div>

        @let interactionDateRef = editForm.get('interactionDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_interactionDate">Interaction Date</label>
          <div class="d-flex">
            <input
              id="field_interactionDate"
              data-cy="interactionDate"
              type="datetime-local"
              class="form-control"
              name="interactionDate"
              formControlName="interactionDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (interactionDateRef.invalid && (interactionDateRef.dirty || interactionDateRef.touched)) {
            <div>
              @if (editForm.get('interactionDate')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('interactionDate')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
