.breadcrumb {
  font-size: 14px;
  margin-bottom: 8px;
}

.home-page {
  padding-right: 4px;
}

.category {
  padding-left: 4px;
  padding-right: 4px;
}

.item-title {
  padding-left: 4px;
}

//.product-container {
//  display: flex;
//  padding-top: 20px;
//  padding-left: -5px;
//  padding-right: 50px;
//  gap: 150px;
//}
//
//.product-image {
//  flex: 1; /* Takes 1 part of the available space */
//  max-width: 40%;
//}
//
//.product-image img {
//  width: 100%;
//  max-width: 60%;
//  height: auto;
//  border: 1px solid #000000;
//}

//@media (max-width: 768px) {
//  .product-container {
//    flex-direction: column; /* Stack items on smaller screens */
//    align-items: center;
//  }
//
//  .product-image, .product-details {
//    max-width: 100%;
//  }

.placeholder {
  display: block;
  margin: auto;
  max-width: 100%;
}

.title-price {
  display: flex;
  justify-content: space-between; /* Pushes icons to opposite sides */
  align-items: center;
  text-transform: capitalize;
  font-size: 25px;
}

.brand-size {
  display: flex;
  align-items: center;
}

.timeListed {
  display: flex;
  justify-content: right;
}

.product-details {
  width: 50%;
}

.top {
  border-bottom: black;
}

.details {
  display: flex;
  gap: 200px;
}

.size-detail {
  display: flex;
  justify-content: space-between; /* Pushes icons to opposite sides */
  align-items: center;
}

.itemLike {
  padding-top: 20px;
  text-align: right;
}
