<div class="container">
  @if (item(); as itemRef) {
    <div class="breadcrumb">
      <a class="home-page" href="#"> Home</a> > <a class="category" href="#"> Clothes</a> >
      <span class="item-title">{{ itemRef.title }}</span>
    </div>

    <div class="back-button">
      <a href="javascript:history.back()">< Back</a>
    </div>

    <div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <section class="product-container">
        <div class="product-image" *ngIf="item()?.images?.length; else noImage">
          <!-- Slideshow Container -->
          <div class="slideshow-container">
            <div
              class="mySlides fade"
              *ngFor="let image of item()?.images; let i = index"
              [style.display]="currentSlideIndex === i ? 'block' : 'none'"
            >
              <!-- Only the main image is clickable -->
              <a [routerLink]="['/images', image.id, 'view']">
                <img [src]="'data:' + (image.imagesContentType || 'image/png') + ';base64,' + (image.images || '')" alt="Item Image" />
              </a>
            </div>
            <!-- Navigation Buttons -->
            <a class="prev" (click)="prevSlide()">&#10094;</a>
            <a class="next" (click)="nextSlide()">&#10095;</a>
          </div>

          <!-- Thumbnail Container -->
          <div class="thumbnail-container">
            <img
              *ngFor="let image of item()?.images; let i = index"
              class="thumbnail"
              [class.active]="currentSlideIndex === i"
              [src]="'data:' + (image.imagesContentType || 'image/png') + ';base64,' + (image.images || '')"
              (click)="goToSlide(i)"
              alt="Thumbnail {{ i + 1 }}"
            />
          </div>
        </div>
        <ng-template #noImage>
          <img src="assets/images/placeholder.png" alt="No Image Available" class="placeholder" />
        </ng-template>

        <!--          <div class="itemLike">-->
        <!--            <dt><span>Hearts</span></dt>-->
        <!--            <dd>-->
        <!--              <span>{{ itemRef.likes }}</span>-->
        <!--            </dd>-->
        <!--          </div>-->
        <!--        </div>-->

        <div class="product-details">
          <div class="top">
            <div class="title-price">
              <dt>
                <span>{{ itemRef.title }}</span>
              </dt>
              <dt>
                <span>£ {{ itemRef.price }}</span>
              </dt>
            </div>
            <div class="brand-size">
              <dt>
                <span>Brand - {{ itemRef.sizeItem }}</span>
              </dt>
            </div>
            <div class="timeListed">
              <dd>
                <span>Listed on {{ itemRef.timeListed | formatMediumDate }}</span>
              </dd>
            </div>
            <hr style="border: 1px solid black; width: 100%" />
          </div>
          <div class="details">
            <div class="details-left">
              <dt><span>Brand</span></dt>
              <dt><span>Size</span></dt>
              <dt><span>Item Condition</span></dt>
              <dt><span>Item Colour</span></dt>
              <!--              <dt><span>Item Category</span></dt>-->
              <dt><span>Meet-up Location</span></dt>
              <dt><span>Views</span></dt>
              <dt><span>Interested</span></dt>
            </div>
            <div class="details-right">
              <dt>Brand</dt>
              <dt>{{ itemRef.sizeItem }}</dt>
              <dt>
                {{
                  {
                    null: '',
                    BRANDNEW: 'Brand New',
                    LIKENEW: 'Like New',
                    FAIRLYUSED: 'Fairly Used',
                    WELLUSED: 'Well Used',
                    HEAVILYUSED: 'Heavily Used',
                  }[itemRef.condition ?? 'null']
                }}
              </dt>
              <dt>{{ itemRef.colour }}</dt>
              <!--              <dt>{{-->
              <!--                  {-->
              <!--                    null: '',-->
              <!--                    FOOTWEAR: 'Foot Wear',-->
              <!--                    CLOTHING: 'Clothing',-->
              <!--                    HEADWEAR: 'Head Wear',-->
              <!--                    ELECTRONICS: 'Electronics',-->
              <!--                    HOBBIES: 'Hobbies',-->
              <!--                    BAGS: 'Bags',-->
              <!--                    OTHERS: 'Others',-->
              <!--                  }[itemRef.itemCategory ?? 'null']-->
              <!--                }}</dt>-->
              <dt>Meet-up Location</dt>
              <dt>No of views</dt>
              <dt>No of likes</dt>
            </div>
          </div>
          <hr style="border: 1px solid black; width: 100%" />
          <div class="description">
            <dt><span>Description</span></dt>
            <dd>
              <span>{{ itemRef.description }}</span>
            </dd>
          </div>
          <hr style="border: 1px solid black; width: 100%" />
          <div class="seller">
            <p>By Seller</p>
            <p>⭐⭐⭐⭐☆</p>
          </div>

          <div class="buttons">
            <button class="btn btn-yellow">Reserve Item</button>
            <button class="btn btn-blue">Message Seller</button>
            <button (click)="toggleLike()" class="like-button">
              <span [class.filled]="hasUserLiked()">❤</span> {{ item()?.likesCount || 0 }}
            </button>
          </div>
        </div>
      </section>

      <dl class="row-md jh-entity-details"></dl>

      <button type="button" [routerLink]="['/item', itemRef.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-item"
        [routerLink]="['/item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Images</span>
      </button>
    </div>
  }
</div>

<style>
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .product-image {
    max-width: 100%;
    margin: auto;
  }

  .slideshow-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .mySlides {
    display: none;
  }

  .mySlides img {
    /*width: 100%;*/
    max-height: 600px;
    /*border: 1px solid #ccc;*/
    vertical-align: middle;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }
  .next {
    right: 0;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .thumbnail-container {
    text-align: center;
    margin-top: 10px;
  }

  .thumbnail {
    cursor: pointer;
    height: 50px;
    margin: 0 2px;
    opacity: 0.6;
    transition: opacity 0.3s;
  }

  .thumbnail.active,
  .thumbnail:hover {
    opacity: 1;
  }

  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes fade {
    from {
      opacity: 0.6;
    }
    to {
      opacity: 1;
    }
  }
</style>
