<div class="container">
  @if (item(); as itemRef) {
    <div class="breadcrumb">
      <a class="home-page" href="#"> Home</a> > <a class="category" href="#"> Clothes</a> >
      <span class="item-title">{{ itemRef.title }}</span>
    </div>

    <div class="back-button">
      <a href="javascript:history.back()">< Back</a>
    </div>

    <div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <section class="product-container">
        <div class="product-image" *ngIf="imageUrls.length; else noImage">
          <!-- Slideshow Container -->
          <div class="slideshow-container">
            <div
              class="mySlides fade"
              *ngFor="let url of imageUrls; let i = index"
              [style.display]="currentSlideIndex === i ? 'block' : 'none'"
            >
              <img [src]="url" alt="Item Image" class="img-fluid" />
            </div>
            <!-- Navigation Buttons -->
            <a class="prev" (click)="prevSlide()">&#10094;</a>
            <a class="next" (click)="nextSlide()">&#10095;</a>
          </div>

          <!-- Thumbnail Container -->
          <div class="thumbnail-container">
            <img
              *ngFor="let url of imageUrls; let i = index"
              class="thumbnail"
              [class.active]="currentSlideIndex === i"
              [src]="url"
              (click)="goToSlide(i)"
              alt="'Thumbnail ' + (i + 1)"
            />
          </div>
        </div>
        <ng-template #noImage>
          <img src="assets/images/placeholder.png" alt="No Image Available" class="placeholder img-fluid" />
        </ng-template>

        <div class="product-details">
          <div class="top">
            <div class="title-price">
              <dt>
                <span>{{ itemRef.title }}</span>
              </dt>
              <dt>
                <span>£ {{ itemRef.price }}</span>
              </dt>
            </div>
            <div class="brand-size">
              <dt>
                <span>{{ itemRef.brand ? itemRef.brand : 'No brand' }} - {{ itemRef.sizeItem ? itemRef.sizeItem : 'No Size' }}</span>
              </dt>
            </div>
            <div class="timeListed">
              <dd>
                <span>{{ getDaysSinceListed(itemRef.timeListed) }}</span>
              </dd>
            </div>
            <hr style="border: 1px solid black; width: 100%" />
          </div>
          <div class="details">
            <div class="details-left">
              <dt><span>Brand</span></dt>
              <dt><span>Size</span></dt>
              <dt><span>Condition</span></dt>
              <dt><span>Colour</span></dt>
              <dt><span>Category</span></dt>
              <dt><span>Meet-up Location</span></dt>
              <dt><span>Interested</span></dt>
            </div>
            <div class="details-right">
              <dt>{{ itemRef.brand ? itemRef.brand : 'No brand' }}</dt>
              <dt>{{ itemRef.sizeItem ? itemRef.sizeItem : 'No Size' }}</dt>
              <dt>
                {{
                  {
                    null: '',
                    BRANDNEW: 'Brand New',
                    LIKENEW: 'Like New',
                    FAIRLYUSED: 'Fairly Used',
                    WELLUSED: 'Well Used',
                    HEAVILYUSED: 'Heavily Used',
                  }[itemRef.condition ?? 'null']
                }}
              </dt>
              <dt>{{ itemRef.colour }}</dt>
              <dt>
                {{
                  {
                    null: '',
                    FOOTWEAR: 'Foot Wear',
                    CLOTHING: 'Clothing',
                    HEADWEAR: 'Head Wear',
                    ELECTRONICS: 'Electronics',
                    HOBBIES: 'Hobbies',
                    BAGS: 'Bags',
                    OTHERS: 'Others',
                  }[itemRef.category ?? 'null']
                }}
              </dt>
              <dt>Meet-up Location</dt>
              <dt>{{ likesCount() }} {{ likesCount() === 1 ? 'like' : 'likes' }}</dt>
            </div>
          </div>
          <hr style="border: 1px solid black; width: 100%" />
          <div class="description">
            <dd>
              <span>{{ itemRef.description ? itemRef.description : 'No description' }}</span>
            </dd>
          </div>
          <hr style="border: 1px solid black; width: 100%" />
          <div class="seller">
            <p>
              By &#64;<a [routerLink]="['/profile-details', item()?.profileDetails?.id, 'view']" class="profile-link">
                {{ item()?.profileDetails?.userName }}</a
              >
            </p>
          </div>
          <div class="buttons">
            <button class="btn" (click)="reserveItem()">
              <span>Reserve Item</span>
            </button>
            <button class="btn" [routerLink]="'/conversation'">
              <span>Message Seller</span>
            </button>
          </div>
          <div class="like-section my-3 d-flex align-items-center gap-2">
            <button class="btn btn-light p-0 border-0" (click)="toggleLike()" style="font-size: 1.5rem; line-height: 1">
              <fa-icon
                [icon]="'heart'"
                [ngClass]="{
                  'liked-icon': isLiked(),
                  'unliked-icon': !isLiked(),
                }"
                size="lg"
              ></fa-icon>
            </button>
            <div *ngIf="likeMessage()" class="text-warning mt-2">
              {{ likeMessage() }}
            </div>
          </div>
        </div>
      </section>

      <dl class="row-md jh-entity-details"></dl>

      <button *ngIf="isOwner()" type="button" [routerLink]="['/item', itemRef.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  }
</div>
