<div class="container">
  @if (item(); as itemRef) {
    <div class="breadcrumb">
      <a class="home-page" href="#"> Home</a> > <a class="category" href="#"> Clothes</a> >
      <span class="item-title">{{ itemRef.title }}</span>
    </div>

    <div class="back-button">
      <a href="javascript:history.back()">< Back</a>
    </div>

    <div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <section class="product-container">
        <div class="product-image">
          <!--          <jhi-images></jhi-images>-->
          <div *ngIf="item()?.images?.length">
            <h3>Item Images</h3>
            <div *ngFor="let image of item()?.images">
              <img
                *ngIf="image.images"
                [src]="'data:' + image.imagesContentType + ';base64,' + image.images"
                alt="Item Image"
                width="200"
                height="150"
              />
            </div>
          </div>
          <!--          @if (itemRef.images) {-->
          <!--            <div>-->
          <!--              <a (click)="openFile(itemRef.images ?? '', itemRef.itemImageContentType)">-->
          <!--                <img [src]="'data:' + itemRef.itemImageContentType + ';base64,' + itemRef.itemImage" style="max-width: 100%" alt="item" />-->
          <!--              </a>-->
          <!--            </div>-->
          <!--            <div class="thumbnails">-->
          <!--              <img src="image1.jpg" alt="thumb" />-->
          <!--              <img src="image2.jpg" alt="thumb" />-->
          <!--              <img src="image3.jpg" alt="thumb" />-->
          <!--              <img src="image4.jpg" alt="thumb" />-->
          <!--            </div>-->
          <!--          }-->
          <div class="itemLike">
            <dt><span>Hearts</span></dt>
            <dd>
              <span>{{ itemRef.likes }}</span>
            </dd>
          </div>
        </div>

        <div class="product-details">
          <div class="top">
            <div class="title-price">
              <dt>
                <span>{{ itemRef.title }}</span>
              </dt>
              <dt>
                <span>£ {{ itemRef.price }}</span>
              </dt>
            </div>
            <div class="brand-size">
              <dt>
                <span>Brand - {{ itemRef.sizeItem }}</span>
              </dt>
            </div>
            <div class="timeListed">
              <dd>
                <span>Listed on {{ itemRef.timeListed | formatMediumDate }}</span>
              </dd>
            </div>
            <hr style="border: 1px solid black; width: 100%" />
          </div>
          <div class="details">
            <div class="details-left">
              <dt><span>Brand</span></dt>
              <dt><span>Size</span></dt>
              <dt><span>Item Condition</span></dt>
              <dt><span>Item Colour</span></dt>
              <!--              <dt><span>Item Category</span></dt>-->
              <dt><span>Meet-up Location</span></dt>
              <dt><span>Views</span></dt>
              <dt><span>Interested</span></dt>
            </div>
            <div class="details-right">
              <dt>Brand</dt>
              <dt>{{ itemRef.sizeItem }}</dt>
              <dt>
                {{
                  {
                    null: '',
                    BRANDNEW: 'Brand New',
                    LIKENEW: 'Like New',
                    FAIRLYUSED: 'Fairly Used',
                    WELLUSED: 'Well Used',
                    HEAVILYUSED: 'Heavily Used',
                  }[itemRef.condition ?? 'null']
                }}
              </dt>
              <dt>{{ itemRef.colour }}</dt>
              <!--              <dt>{{-->
              <!--                  {-->
              <!--                    null: '',-->
              <!--                    FOOTWEAR: 'Foot Wear',-->
              <!--                    CLOTHING: 'Clothing',-->
              <!--                    HEADWEAR: 'Head Wear',-->
              <!--                    ELECTRONICS: 'Electronics',-->
              <!--                    HOBBIES: 'Hobbies',-->
              <!--                    BAGS: 'Bags',-->
              <!--                    OTHERS: 'Others',-->
              <!--                  }[itemRef.itemCategory ?? 'null']-->
              <!--                }}</dt>-->
              <dt>Meet-up Location</dt>
              <dt>No of views</dt>
              <dt>No of likes</dt>
            </div>
          </div>
          <hr style="border: 1px solid black; width: 100%" />
          <div class="description">
            <dt><span>Description</span></dt>
            <dd>
              <span>{{ itemRef.description }}</span>
            </dd>
          </div>
          <hr style="border: 1px solid black; width: 100%" />
          <div class="seller">
            <p>By Seller</p>
            <p>⭐⭐⭐⭐☆</p>
          </div>

          <div class="buttons">
            <button class="btn btn-yellow">Reserve Item</button>
            <button class="btn btn-blue">Message Seller</button>
            <!--            <button class="btn btn-red">Add To Favourite ❤️</button>-->
          </div>
        </div>
      </section>

      <dl class="row-md jh-entity-details"></dl>

      <button type="button" [routerLink]="['/item', itemRef.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  }
</div>
