@import '../../../../content/scss/functions';
p,
div,
span,
label {
  color: var(--text-color);
}

.breadcrumb {
  font-size: px-to-rem(16);
  margin-bottom: 8px;
  margin-top: 10px;
}

.home-page {
  padding-right: 4px;
}

.category {
  padding-left: 4px;
  padding-right: 4px;
}

.item-title {
  padding-left: 4px;
}

.product-container {
  display: flex;
  padding-top: 20px;
  //padding-left: -5px;
  padding-right: 50px;
  gap: 100px;
}

.product-image {
  width: 60%;
  margin: auto;
  padding-left: 10px;
}

.slideshow-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mySlides {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 600px;
  margin: auto;
}

.mySlides img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  //vertical-align: middle;
  object-fit: contain;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: px-to-rem(18);
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 4px;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.thumbnail-container {
  text-align: center;
  margin-top: 10px;
}

.thumbnail {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 0 2px;
  opacity: 0.6;
  transition: opacity 0.3s;
  object-fit: contain;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.show {
  display: flex;
}

.modal-dialog {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.modal-header .close {
  border: none;
  background: transparent;
  font-size: 1.5rem;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.thumbnail.active,
.thumbnail:hover {
  opacity: 1;
}

.fade {
  animation-name: fade;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.placeholder {
  display: block;
  margin: auto;
  max-width: 100%;
}

.title-price {
  display: flex;
  justify-content: space-between; /* Pushes icons to opposite sides */
  align-items: center;
  text-transform: capitalize;
  font-size: px-to-rem(25);
}

.brand-size {
  display: flex;
  align-items: center;
}

.timeListed {
  display: flex;
  justify-content: right;
  margin-bottom: -20px;
  margin-top: 10px;
}

.product-details {
  width: 50%;
}

.top {
  border-bottom: black;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.details-left dt,
.details-right dt {
  padding: 5px 0;
  font-size: px-to-rem(16);
}

.details-left {
  text-align: left;
  font-weight: bold;
}

.details-right {
  text-align: left; /* Ensures text is properly aligned */
  word-wrap: break-word; /* Ensures long text doesn't break layout */
}

.size-detail {
  display: flex;
  justify-content: space-between; /* Pushes icons to opposite sides */
  align-items: center;
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.custom-btn {
  border: none;
  border-radius: 20px;
  padding: 12px 24px;
  font-size: px-to-rem(16);
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Blue - Reserve */
.reserve-btn {
  background-color: #dcd8a2;
  color: black;
}
.reserve-btn:hover {
  background-color: #f3f3a5;
}

/* Green - Message Seller */
.message-btn {
  background-color: #5f775f;
  color: whitesmoke;
}
.message-btn:hover {
  background-color: #9acca5;
}

.custom-like-message {
  color: #a93226;
  margin-top: 0.5rem;
}

.itemLike {
  padding-top: 20px;
  text-align: right;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  font-size: 2.5rem; /* Bigger icon */
}

.liked-icon {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  font-size: 2.5rem; /* Bigger icon */
  color: var(--like-color);
}

.unliked-icon {
  color: #c5ccd1;
  -webkit-text-stroke: 1px #6c757d; /* gray outline */
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0;
  font-size: 2.5rem; /* Bigger icon */
}

.edit-button {
  border: none;
  border-radius: 20px;
  padding: 12px 24px;
  font-size: px-to-rem(16);
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: #dcd8a2;
  color: black;
  margin-bottom: 20px;
}

.edit-button:hover {
  background-color: #5f775f;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    padding-right: 0;
    gap: 20px; /* Reduce gap for smaller screens */
  }

  .product-image,
  .product-details {
    width: 100%;
    padding-left: 0;
  }

  .title-price {
    flex-direction: row;
    align-items: flex-start;
    font-size: px-to-rem(20);
  }

  .details {
    flex-direction: row;
    gap: 10px;
  }

  .timeListed {
    justify-content: flex-start;
  }
}
