.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.header {
  font-weight: bold;
}

.main-content {
  flex: 1;
}

.list-group-item {
  width: 220px;
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
  transition: 0.3s;
  font-size: 20px;
}

.list-group-item:hover {
  background-color: #ddd;
}

.list-group-item.active {
  background-color: #f8dc75; /* active tab*/
  font-weight: bold;
}

.form-label {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.mb-3 {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.image-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.form-control {
  background-color: #f5f5f5;
  width: 80%;
}

.delete-button {
  justify-content: center;
  align-items: center;
  display: flex;
}

.password-label {
  font-size: 17px;
  font-weight: normal;
}

.btn-danger {
  display: flex;
  justify-content: right;
}

.buttons-container {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;
}

.cancelButton,
.saveButton {
  position: sticky;
  bottom: 0;
  z-index: 10;
  margin: 0 5px;
}

.btn-primary {
  background-color: #dcd8a2;
  color: #1d1d1f;
  font-weight: bold;
}

/* the box around the slider */

.switch-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*  slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6e6e73;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6e6e73;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.display-label {
  font-size: 18px;
}

.slide-container {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* The slider itself */
.text-slider {
  -webkit-appearance: none; /* override CSS styles */
  appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s; /* transition on hover */
  transition: opacity 0.2s;
  border-radius: 5px;
}

/* Mouse-over effects */
.text-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle */
.text-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* override look */
  appearance: none;
  width: 15px;
  height: 18px;
  background: #f6d044;
  cursor: pointer;
  border-radius: 5px;
}

.text-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #f6d044;
  cursor: pointer;
}

.text-label-small {
  font-size: 15px;
  font-weight: bold;
}

.text-label-big {
  font-size: 30px;
  font-weight: bold;
}
