<div class="container">
  <jhi-alert-error></jhi-alert-error>

  <div class="main-content">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-profile-details-heading" data-cy="UserDetailsCreateUpdateHeading">Settings</h2>

      <div class="row">
        <!-- SideBar -->
        <div class="col-md-3">
          <div class="list-group">
            <a
              href="javascript:void(0)"
              class="list-group-item"
              [class.active]="activeTab === 'profileDetails'"
              (click)="setActiveTab('profileDetails')"
              >Profile Details</a
            >
            <a href="javascript:void(0)" class="list-group-item" [class.active]="activeTab === 'account'" (click)="setActiveTab('account')"
              >Account Settings</a
            >
            <a href="javascript:void(0)" class="list-group-item" [class.active]="activeTab === 'display'" (click)="setActiveTab('display')"
              >Display</a
            >
            <a href="javascript:void(0)" class="list-group-item" [class.active]="activeTab === 'drafts'" (click)="setActiveTab('drafts')"
              >Drafts</a
            >
          </div>
        </div>

        <div class="col-md-9">
          <div *ngIf="activeTab === 'profileDetails'">
            <h3>Profile Details</h3>

            @let bioImageRef = editForm.get('bioImage')!;
            <div class="mb-3">
              <label class="form-label" for="field_bioImage">Bio Image</label>
              <div>
                @if (bioImageRef.value) {
                  <img
                    [src]="'data:' + editForm.get('bioImageContentType')!.value + ';base64,' + bioImageRef.value"
                    style="max-height: 100px"
                    alt="profileDetails"
                  />
                }
                @if (bioImageRef.value) {
                  <div class="form-text text-danger clearfix">
                    <span class="pull-start">{{ editForm.get('bioImageContentType')!.value }}, {{ byteSize(bioImageRef.value!) }}</span>
                    <button
                      type="button"
                      (click)="clearInputImage('bioImage', 'bioImageContentType', 'file_bioImage')"
                      class="btn btn-secondary btn-xs pull-end"
                    >
                      <fa-icon icon="times"></fa-icon>
                    </button>
                  </div>
                }
                <input
                  type="file"
                  id="file_bioImage"
                  data-cy="bioImage"
                  (change)="setFileData($event, 'bioImage', true)"
                  accept="image/*"
                />
              </div>
              <input type="hidden" class="form-control" name="bioImage" id="field_bioImage" data-cy="bioImage" formControlName="bioImage" />
              <input
                type="hidden"
                class="form-control"
                name="bioImageContentType"
                id="field_bioImageContentType"
                formControlName="bioImageContentType"
              />
            </div>

            @let userNameRef = editForm.get('userName')!;
            <div class="mb-3">
              <label class="form-label" for="field_userName">User Name</label>
              <input type="text" class="form-control" name="userName" id="field_userName" data-cy="userName" formControlName="userName" />
              @if (userNameRef.invalid && (userNameRef.dirty || userNameRef.touched)) {
                <div>
                  @if (editForm.get('userName')?.errors?.required) {
                    <small class="form-text text-danger">This field is required.</small>
                  }
                </div>
              }
            </div>

            @let addressRef = editForm.get('address')!;
            <div class="mb-3">
              <label class="form-label" for="field_address">Address</label>
              <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
              @if (addressRef.invalid && (addressRef.dirty || addressRef.touched)) {
                <div>
                  @if (editForm.get('address')?.errors?.required) {
                    <small class="form-text text-danger">This field is required.</small>
                  }
                </div>
              }
            </div>
          </div>

          <div *ngIf="activeTab === 'account'">
            <h3>Account Settings</h3>

            <div class="mb-3">
              <label class="form-label" for="field_birthDate">Birth Date</label>
              <div class="input-group">
                <input
                  id="field_birthDate"
                  data-cy="birthDate"
                  type="text"
                  class="form-control"
                  name="birthDate"
                  ngbDatepicker
                  #birthDateDp="ngbDatepicker"
                  formControlName="birthDate"
                />
                <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()">
                  <fa-icon icon="whale"></fa-icon>
                </button>
              </div>
            </div>

            @let emailRef = editForm.get('email')!;
            <div class="mb-3">
              <label class="form-label" for="field_email">Email</label>
              <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
              @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
                <div>
                  @if (editForm.get('email')?.errors?.required) {
                    <small class="form-text text-danger">This field is required.</small>
                  }
                </div>
              }
            </div>
          </div>

          <div *ngIf="activeTab === 'display'">
            <h3>Display Settings</h3>

            <div class="mb-3">
              <label class="form-label">Appearance</label>
              <div class="switch-container">
                <label class="display-label">Light</label>
                <label class="switch">
                  <input type="checkbox" />
                  <span class="slider round"></span>
                </label>
                <label class="display-label">Dark</label>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Text Size</label>
              <div class="slide-container">
                <label class="text-label-small">Aa</label>
                <input type="range" min="1" max="100" value="50" class="text-slider" id="myRange" />
                <label class="text-label-big">Aa</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="buttons-container">
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary cancelButton"
          (click)="previousState()"
        >
          <span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary saveButton"
        >
          <span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
