<div class="container">
  <jhi-alert-error></jhi-alert-error>

  <div class="main-content">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-profile-details-heading" data-cy="UserDetailsCreateUpdateHeading" class="header">Settings</h2>

      <div class="row">
        <!-- SideBar -->
        <div class="col-md-3">
          <div class="list-group">
            <a
              href="javascript:void(0)"
              class="list-group-item"
              [class.active]="activeTab === 'profileDetails'"
              (click)="setActiveTab('profileDetails')"
              >Profile Details</a
            >
            <a href="javascript:void(0)" class="list-group-item" [class.active]="activeTab === 'account'" (click)="setActiveTab('account')"
              >Account Settings</a
            >
            <a href="javascript:void(0)" class="list-group-item" [class.active]="activeTab === 'display'" (click)="setActiveTab('display')"
              >Display</a
            >
          </div>
        </div>

        <div class="col-md-9">
          <div *ngIf="activeTab === 'profileDetails'">
            <h3>Profile Details</h3>

            @let bioImageRef = editForm.get('bioImage')!;
            <div class="mb-3">
              <label class="form-label" for="field_bioImage">Profile Picture</label>

              <div>
                <img
                  class="profile-image"
                  [src]="'data:' + editForm.get('bioImageContentType')!.value + ';base64,' + editForm.get('bioImage')?.value"
                  alt="profileDetails"
                />

                <div class="buttons">
                  <button type="button" (click)="clearInputImage('bioImage', 'bioImageContentType', 'file_bioImage')" class="delete-button">
                    X
                  </button>

                  <input
                    type="file"
                    id="file_bioImage"
                    data-cy="bioImage"
                    (change)="setFileData($event, 'bioImage', true)"
                    accept="image/*"
                  />
                </div>
              </div>

              <input type="hidden" class="form-control" name="bioImage" id="field_bioImage" data-cy="bioImage" formControlName="bioImage" />
              <input
                type="hidden"
                class="form-control"
                name="bioImageContentType"
                id="field_bioImageContentType"
                formControlName="bioImageContentType"
              />
            </div>

            @let userNameRef = editForm.get('userName')!;
            <div class="mb-3">
              <label class="form-label" for="field_userName">User Name</label>
              <input
                type="text"
                class="form-control"
                name="userName"
                id="field_userName"
                data-cy="userName"
                formControlName="userName"
                readonly
              />
              @if (userNameRef.invalid && (userNameRef.dirty || userNameRef.touched)) {
                <div>
                  @if (editForm.get('userName')?.errors?.required) {
                    <small class="form-text text-danger">This field is required.</small>
                  }
                </div>
              }
            </div>

            <div class="mb-3">
              <label class="form-label">Meetup Locations</label>
              <p>User can change meetup locations here. It will be store in the location entity</p>
            </div>
          </div>

          <div *ngIf="activeTab === 'account'">
            <h3>Account Settings</h3>

            <div class="mb-3">
              <label class="form-label" for="field_birthDate">Birth Date</label>
              <div class="input-group">
                <input
                  id="field_birthDate"
                  data-cy="birthDate"
                  type="text"
                  class="form-control"
                  name="birthDate"
                  ngbDatepicker
                  #birthDateDp="ngbDatepicker"
                  formControlName="birthDate"
                />
                <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()">
                  <fa-icon icon="calendar-alt"></fa-icon>
                </button>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="field_userEmail">Email</label>
              <input type="text" class="form-control" id="field_userEmail" data-cy="userEmail" [value]="userEmail" readonly />
            </div>

            @if (account) {
              <div class="mb-3">
                <label class="form-label">Change Password</label>

                @if (success()) {
                  <div class="alert alert-success"><strong>Password changed!</strong></div>
                }
                @if (error()) {
                  <div class="alert alert-danger"><strong>An error has occurred!</strong> The password could not be changed.</div>
                }
                @if (doNotMatch()) {
                  <div class="alert alert-danger">The password and its confirmation do not match!</div>
                }

                <form name="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                  <div class="mb-3">
                    <label class="form-label password-label" for="currentPassword">Current password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="currentPassword"
                      name="currentPassword"
                      placeholder="Current password"
                      formControlName="currentPassword"
                      data-cy="currentPassword"
                    />

                    @let currentPasswordRef = passwordForm.get('currentPassword')!;
                    @if (currentPasswordRef.invalid && (currentPasswordRef.dirty || currentPasswordRef.touched)) {
                      <div>
                        @if (currentPasswordRef?.errors?.required) {
                          <small class="form-text text-danger">Your password is required.</small>
                        }
                      </div>
                    }
                  </div>

                  <div class="mb-3">
                    <label class="form-label password-label" for="newPassword">New password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="newPassword"
                      name="newPassword"
                      placeholder="New password"
                      formControlName="newPassword"
                      data-cy="newPassword"
                    />

                    @let newPasswordRef = passwordForm.get('newPassword')!;
                    @if (newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)) {
                      <div>
                        @if (newPasswordRef?.errors?.required) {
                          <small class="form-text text-danger">Your password is required.</small>
                        }

                        @if (newPasswordRef?.errors?.minlength) {
                          <small class="form-text text-danger">Your password is required to be at least 4 characters.</small>
                        }

                        @if (newPasswordRef?.errors?.maxlength) {
                          <small class="form-text text-danger">Your password cannot be longer than 50 characters.</small>
                        }
                      </div>
                    }

                    <jhi-password-strength-bar [passwordToCheck]="newPasswordRef.value"></jhi-password-strength-bar>
                  </div>

                  <div class="mb-3">
                    <label class="form-label password-label" for="confirmPassword">New password confirmation</label>
                    <input
                      type="password"
                      class="form-control"
                      id="confirmPassword"
                      name="confirmPassword"
                      placeholder="Confirm the new password"
                      formControlName="confirmPassword"
                      data-cy="confirmPassword"
                    />

                    @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
                    @if (confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)) {
                      <div>
                        @if (confirmPasswordRef?.errors?.required) {
                          <small class="form-text text-danger">Your confirmation password is required.</small>
                        }

                        @if (confirmPasswordRef?.errors?.minlength) {
                          <small class="form-text text-danger">Your confirmation password is required to be at least 4 characters.</small>
                        }

                        @if (confirmPasswordRef?.errors?.maxlength) {
                          <small class="form-text text-danger">Your confirmation password cannot be longer than 50 characters.</small>
                        }
                      </div>
                    }
                  </div>

                  <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">
                    Change My Password
                  </button>
                </form>
              </div>
            }

            <div class="mb-3">
              <label class="form-label">Deleting Account</label>
              <p>Deleting your account will remove all of your information from our database. This action cannot be undone</p>
              <button class="btn btn-danger" (click)="delete(profileDetails!)">Delete Account</button>
            </div>
          </div>

          <div *ngIf="activeTab === 'display'">
            <h3>Display Settings</h3>

            <div class="mb-3">
              <label class="form-label">Appearance</label>
              <div class="switch-container">
                <label class="display-label">Light</label>
                <label class="switch">
                  <input type="checkbox" (change)="toggleDarkMode($any($event.target).checked)" />
                  <span class="slider round"></span>
                </label>
                <label class="display-label">Dark</label>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Text Size</label>
              <div class="slide-container d-flex align-items-center">
                <label class="me-2">Aa</label>
                <input type="range" min="12" max="24" [value]="textSize" (input)="onSliderChange($event)" class="form-range flex-grow-1" />
                <label class="ms-2">Aa</label>
              </div>
              <small class="text-muted">Current: {{ textSize }}px</small>
            </div>

            <div class="mb-3">
              <label class="form-label">Font Family</label>
              <!--              <div class="slide-container d-flex align-items-center">-->
              <!--                <label class="me-2">Aa</label>-->
              <!--                <input type="range" min="12" max="24" [value]="textSize" (input)="onSliderChange($event)" class="form-range flex-grow-1" />-->
              <!--                <label class="ms-2">Aa</label>-->
              <!--              </div>-->
            </div>
          </div>
        </div>
      </div>

      <div class="buttons-container">
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary cancelButton"
          (click)="previousState()"
        >
          Cancel
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary saveButton"
        >
          <span style="font-weight: bold">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
