<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-reservation-heading" data-cy="ReservationCreateUpdateHeading">Create or edit a Reservation</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let reservationDateRef = editForm.get('reservationDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_reservationDate">Reservation Date</label>
          <div class="d-flex">
            <input
              id="field_reservationDate"
              data-cy="reservationDate"
              type="datetime-local"
              class="form-control"
              name="reservationDate"
              formControlName="reservationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (reservationDateRef.invalid && (reservationDateRef.dirty || reservationDateRef.touched)) {
            <div>
              @if (editForm.get('reservationDate')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('reservationDate')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let expirationDateRef = editForm.get('expirationDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_expirationDate">Expiration Date</label>
          <div class="d-flex">
            <input
              id="field_expirationDate"
              data-cy="expirationDate"
              type="datetime-local"
              class="form-control"
              name="expirationDate"
              formControlName="expirationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (expirationDateRef.invalid && (expirationDateRef.dirty || expirationDateRef.touched)) {
            <div>
              @if (editForm.get('expirationDate')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('expirationDate')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            @for (reservationStatus of reservationStatusValues; track $index) {
              <option [value]="reservationStatus">
                {{ { null: '', PENDING: 'PENDING', CONFIRMED: 'CONFIRMED', CANCELLED: 'CANCELLED' }[reservationStatus] }}
              </option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
