@import '../../../content/scss/functions';

.titles {
  margin-top: 15px;
}

.form-label {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: px-to-rem(20);
}

.mb-3 {
  background-color: var(--background-color-secondary);
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.form-control {
  background-color: var(--background-color-secondary);
  width: 80%;
}

.btn-primary {
  background-color: #dcd8a2;
  color: #1d1d1f;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

input.form-control {
  background-color: transparent;
  color: var(--text-color);
}

input.form-control:focus {
  background-color: transparent;
}

input::placeholder {
  color: var(--text-color); /* light grey color for placeholder text */
  opacity: 1; /* fix Firefox default lower opacity */
  background-color: transparent;
}

.sub-btn {
  margin-top: 10px;
  margin-bottom: 15px;
}
