<div class="container-fluid">
  @if (profileDetails; as profileDetailsRef) {
    <div class="profilePage-container">
      <h2 data-cy="profileDetailsDetailsHeading"><span class="header">Profile</span></h2>
      <hr />

      <p class="back-text" (click)="previousState()"><fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span></p>

      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <div class="topProfile-container">
        <div>
          @if (profileDetailsRef.bioImage) {
            <a (click)="openFile(profileDetailsRef.bioImage, profileDetailsRef.bioImageContentType)">
              <img
                [src]="'data:' + profileDetailsRef.bioImageContentType + ';base64,' + profileDetailsRef.bioImage"
                class="profile-image"
                alt="profileDetails"
              />
            </a>
          }
        </div>

        <dl class="profile-details">
          <dd>
            <span class="username">{{ '@' + profileDetailsRef.userName }}</span>
          </dd>

          <dt>
            <a id="review" [routerLink]="['/review']" class="review-link"> Reviews </a>
          </dt>
          <dd>
            <!--            <span>{{ profileDetailsRef.rating }}</span> supposed to take the average rating from database-->
            <div class="star">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
          </dd>

          <a id="meet-up locations" [routerLink]="['/location']" class="location-link"> Location </a>
          <dd class="address-container">
            <button
              *ngIf="isOwner"
              type="button"
              [routerLink]="['/profile-details', profileDetailsRef.id, 'edit']"
              [queryParams]="{ tab: 'profileDetails' }"
              class="btn btn-primary"
            >
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
          </dd>
        </dl>
      </div>

      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'listings'" (click)="activeTab = 'listings'"> Listings</a>
        </li>
        <li *ngIf="isOwner" class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'favorites'" (click)="activeTab = 'favorites'"> Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'wishlist'" (click)="activeTab = 'wishlist'"> Wishlist</a>
        </li>
        <li *ngIf="isOwner" class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'history'" (click)="activeTab = 'history'"> Purchase History</a>
        </li>
      </ul>

      <div class="tab-content mt-3">
        <div *ngIf="activeTab === 'listings'">
          <h3>Listings</h3>
          <div>
            <jhi-item></jhi-item>
          </div>
          <p>Show user's product listings here ....</p>
        </div>

        <div *ngIf="activeTab === 'favorites'">
          <h3>Favorites</h3>
          <p>Show user's favorites products here ....</p>
        </div>

        <div *ngIf="activeTab === 'wishlist'">
          <h3>Wishlists</h3>
          <p>Show user's wishlists here ....</p>
        </div>

        <div *ngIf="activeTab === 'history'">
          <h3>Purchase History</h3>
          <p>Show user's purchase history here ....</p>
        </div>
      </div>
    </div>
  }
</div>
