.container-fluid {
  width: 80%;
  align-items: center;
}

.header {
  font-weight: bold;
}

.hr {
  display: none;
}

.profilePage-container {
  width: 100%;
  display: block;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.profile-image {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}

.back-text {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  margin-right: auto;
  font-size: 20px;
}

.back-text fa-icon {
  margin-right: 8px;
}

.back-text:hover {
  color: #0056b3;
}

.topProfile-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: #1d1d1f;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  gap: 15px;
  margin-bottom: 30px;
}

.topProfile-container img {
  max-width: 150px;
  border-width: thin;
  border-color: #1d1d1f;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  padding-left: 50px;
}

.username {
  font-weight: bold;
  font-size: 25px;
}

.star {
  font-size: 18px;
}
.profile-details button {
  margin-left: auto;
  background-color: #f8dc75;
  color: white;
}

.address-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-container span {
  margin-right: 10px;
}

.nav-tabs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-link {
  width: auto;
  padding: 10px 20px;
}

.tab-content {
  width: 100%;
  padding: 20px;
}

.tab-content.mt-3 {
  width: 100%;
}

#review,
#product_status,
#meet-up\ locations {
  color: black;
}

#review:hover,
#product_status:hover {
  background: #80ef80;
  transform: translateY(-5px);
}
