<div class="container-fluid">
  @if (profileDetails; as profileDetailsRef) {
    <div class="profilePage-container">
      <h2 data-cy="profileDetailsDetailsHeading"><span class="header">Profile</span></h2>
      <hr />

      <p class="back-text" (click)="previousState()"><fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span></p>

      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <div class="topProfile-container">
        <div>
          @if (profileDetailsRef.bioImage) {
            <a (click)="openFile(profileDetailsRef.bioImage, profileDetailsRef.bioImageContentType)">
              <img
                [src]="'data:' + profileDetailsRef.bioImageContentType + ';base64,' + profileDetailsRef.bioImage"
                class="profile-image"
                alt="profileDetails"
              />
            </a>
          }
        </div>

        <dl class="profile-details">
          <dd>
            <span class="username">{{ '@' + profileDetailsRef.userName }}</span>
          </dd>

          <a id="meet-up locations" [routerLink]="['/location']" class="location-link"> Location </a>
          <dd class="address-container">
            <button
              *ngIf="isOwner"
              type="button"
              [routerLink]="['/profile-details', profileDetailsRef.id, 'edit']"
              [queryParams]="{ tab: 'profileDetails' }"
              class="btn btn-primary"
            >
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
          </dd>
        </dl>
      </div>

      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'listings'" (click)="activeTab = 'listings'"> Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'wishlist'" (click)="activeTab = 'wishlist'"> Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'reviews'" (click)="activeTab = 'reviews'"> Reviews </a>
        </li>
      </ul>

      <div class="tab-content mt-3">
        <div *ngIf="activeTab === 'listings'">
          <div>
            <ul *ngIf="items.length > 0; else noItems">
              <li class="item-profile" *ngFor="let item of items">
                <div class="item-card">
                  <div class="card">
                    <div class="card-header"></div>

                    @if (item.images && item.images.length > 0) {
                      <a [routerLink]="['/item', item.id, 'view']">
                        <img class="card-img-top" [src]="'data:image/png;base64,' + item.images[0].images" alt="Item Image" />
                      </a>
                    } @else {
                      <a [routerLink]="['/item', item.id, 'view']">
                        <img class="card-img-top" src="assets/images/placeholder.png" alt="No Image Available" />
                      </a>
                    }

                    <div class="card-body">
                      <h5 class="card-title">
                        <a [routerLink]="['/item', item.id, 'view']" class="item-title-link">{{ item.title }}</a>
                      </h5>
                      <div class="texts">
                        <p class="card-text">{{ item?.sizeItem || 'No size' }}</p>
                        <p class="card-text"><strong>£</strong> {{ item.price }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <ng-template #noItems>
              <p>No items yet.</p>
            </ng-template>
          </div>
        </div>

        <div *ngIf="activeTab === 'favorites'">
          <h3>Favorites</h3>
          <p>Show user's favorites products here ....</p>
        </div>

        <div *ngIf="activeTab === 'wishlist'">
          <h3>Wishlists</h3>
          <p>Show user's wishlists here ....</p>
        </div>

        <div *ngIf="activeTab === 'history'">
          <h3>Purchase History</h3>
          <p>Show user's purchase history here ....</p>
        </div>

        <div *ngIf="activeTab === 'reviews'">
          @if (reviewReceived && reviewReceived.length > 0) {
            <div class="scrollbarBoxRight">
              <div class="filterSpace">
                <button class="filterButton" (click)="sortButton()">
                  <span>date<fa-icon [icon]="sort ? faArrowDown : faArrowUp"></fa-icon></span>
                </button>
                <label for="filter"></label>
                <select class="filterButton" id="filter" #filterValue (change)="filterBy(filterValue)">
                  <option value="">ratings</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
              @for (review of reviewReceived; track trackId(review)) {
                <div class="commentBoxRight">
                  <div style="display: flex; justify-content: space-between">
                    <p id="username">
                      @if (review.consumer?.bioImage) {
                        <img
                          [src]="'data:' + review.consumer?.bioImageContentType + ';base64,' + review.consumer?.bioImage"
                          alt="profileDetails"
                          class="avatar"
                        />
                      }
                      <a [routerLink]="['/review', review.id, 'view']">{{ review.consumer?.userName }}</a>
                    </p>
                    <p id="rates">
                      <ngb-rating [rate]="review.rating ?? 0" [readonly]="true" [max]="5"></ngb-rating>
                    </p>
                  </div>
                  <div id="textbox">
                    <p id="dialogue">
                      {{ review.comments }}
                    </p>
                  </div>
                  <div style="display: flex; justify-content: space-between">
                    <span id="heart" (click)="likeButton(review)" [innerHTML]="review.liked ? '&#9829;' : '&#9825;'"></span>
                    <p id="date">
                      {{ review.date }}
                    </p>
                  </div>
                </div>
              }
            </div>
            <div class="filterSpace">
              <button data-cy="entityCreateButton" class="filterButton" [routerLink]="['/review/new']">
                <span>Write a Review!</span>
              </button>
              <button data-cy="entityCreateButton" class="filterButton" [routerLink]="['/review']">
                <span>see all reviews</span>
              </button>
            </div>
          }
          @if (reviewReceived?.length === 0) {
            <h3>Reviews</h3>
            <p>User has received no reviews yet ....</p>
            <button class="filterButton" [routerLink]="['/review/new']">
              <span>Write a Review!</span>
            </button>
            <button class="filterButton" [routerLink]="['/review']">
              <span>see all reviews</span>
            </button>
          }
        </div>
      </div>
    </div>
  }
</div>
