.container-fluid {
  width: 100%;
}

.profilePage-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.topProfile-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  gap: 5px;
}

.topProfile-container img {
  max-width: 150px;
  border-radius: 50%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.profile-details button {
  margin-left: auto;
  background-color: #f8dc75;
}

.nav-tabs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-link {
  width: auto;
  padding: 10px 20px;
}

.tab-content {
  width: 100%;
  padding: 20px;
}

.search-bar {
  display: flex;
  padding: 6px;
  border-radius: 20px;
  background: #f8dc75;
  width: 300px;
}

.search-bar input {
  border: none;
  background-color: transparent;
  outline: none;
  flex-grow: 1;
  padding-left: 8px;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}
