.container-fluid {
  width: 100%;
  padding: 0 20px;
}

.profilePage-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.topProfile-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 8px;
  position: relative;
}

.topProfile-container img {
  max-width: 150px;
  border-radius: 50%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.profile-details button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #f8dc75;
}

.nav-tabs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-link {
  width: auto;
  padding: 10px 20px;
}

.tab-content {
  width: 100%;
  padding: 20px;
}
