<div class="container-fluid">
  @if (userDetails(); as userDetailsRef) {
    <div class="profilePage-container">
      <h2 data-cy="userDetailsDetailsHeading"><span>Profile</span></h2>
      <hr />

      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <div class="topProfile-container">
        <div>
          @if (userDetailsRef.bioImage) {
            <a (click)="openFile(userDetailsRef.bioImage ?? '', userDetailsRef.bioImageContentType)">
              <img
                [src]="'data:' + userDetailsRef.bioImageContentType + ';base64,' + userDetailsRef.bioImage"
                style="max-width: 100%"
                alt="userDetails"
              />
            </a>
          }
        </div>

        <dl class="profile-details">
          <dt><span>User Name</span></dt>
          <dd>
            <span>{{ userDetailsRef.userName }}</span>
          </dd>

          <dt><span>Preferences</span></dt>
          <dd>
            <span>{{ userDetailsRef.preferences }}</span>
          </dd>

          <dt><span>Rating</span></dt>
          <dd>
            <span>{{ userDetailsRef.rating }}</span>
          </dd>

          <dt><span>Address</span></dt>
          <dd>
            <span>{{ userDetailsRef.address }}</span>
          </dd>

          <button type="button" [routerLink]="['/user-details', userDetailsRef.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
          </button>
        </dl>
      </div>

      <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'listings'" (click)="activeTab = 'listings'"> Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'favorites'" (click)="activeTab = 'favorites'"> Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'history'" (click)="activeTab = 'history'"> Purchase History</a>
        </li>
      </ul>

      <div class="tab-content mt-3">
        <div *ngIf="activeTab === 'listings'">
          <h3>Listings</h3>
          <p>Show user's product listings here ....</p>
        </div>

        <div *ngIf="activeTab === 'favorites'">
          <h3>Favorites</h3>
          <p>Show user's favorites products here ....</p>
        </div>

        <div *ngIf="activeTab === 'history'">
          <h3>Purchase History</h3>
          <p>Show user's purchase history here ....</p>
        </div>
      </div>

      <div class="button-container">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>
      </div>
    </div>
  }
</div>
