button {
  background-color: #e1bf43;
  color: white;
  display: inline-block;
  border-radius: 14px;
  font-size: 13px;
  height: 50px;
  width: 150px;
  transition-duration: 0.5s;
}

button:hover {
  background-color: black;
  color: #f8dc75;
}

.formPage {
  background-color: #f8dc75;
}

span {
  font-family:
    Bradley Hand,
    cursive;
}

#heading {
}
