<div class="formPage">
  <div class="d-flex justify-content-center">
    <div class="col-8">
      @if (review(); as reviewRef) {
        <div>
          <h2 data-cy="reviewDetailsHeading">
            <span id="heading">Review of user {{ reviewRef.id }}</span>
          </h2>
          <hr />

          <jhi-alert-error></jhi-alert-error>

          <jhi-alert></jhi-alert>

          <div style="display: flex; justify-content: space-between">
            <p id="userName">
              {{ reviewRef.id }}
            </p>
            <p id="rates">
              {{ reviewRef.rating }}
            </p>
          </div>
          <p id="dialogue">
            {{ reviewRef.reviewText }}
          </p>
          <p id="date">
            {{ reviewRef.reviewDate | formatMediumDate }}
          </p>
        </div>

        <div>
          <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
          </button>

          <button type="button" [routerLink]="['/review', reviewRef.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
          </button>
        </div>
      }
    </div>
  </div>
</div>
