<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-12">
    <!--    <h1 class="display-4"><span>Buy2Use!</span></h1>-->

    <!--    <p class="lead">Where you can find everything you ever need</p>-->

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message">You are logged in as user &quot;{{ accountRef.login }}&quot;.</span>
          }
        </div>
        <div class="center-container">
          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-item"
            [routerLink]="['/item/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span>Create a new Item</span>
          </button>
          <jhi-item></jhi-item>
        </div>
      } @else {
        <jhi-item></jhi-item>
      }
    </div>
  </div>
</div>
