<div class="message-list container">
  <h2 id="page-heading" data-cy="MessageHeading">Messages</h2>

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
      <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
      <span>Refresh list</span>
    </button>
    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-message"
      [routerLink]="['/message/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span>Create a new Message</span>
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  @if (messages?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Messages found</span>
    </div>
  }

  @if (messages && messages.length > 0) {
    <div class="list-group">
      @for (message of messages; track trackId(message)) {
        <a
          class="list-group-item list-group-item-action message-list-item mb-2"
          data-cy="entityTable"
          [routerLink]="['/message', message.id, 'view']"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Message #{{ message.id }}</h5>
            <small>{{ message.timestamp | formatMediumDatetime }}</small>
          </div>

          <p class="mb-1"><strong>Content:</strong> {{ message.content }}</p>
          <p class="mb-1"><strong>Read:</strong> {{ message.isRead }}</p>
          <p class="mb-1">
            <strong>Conversation ID:</strong>
            @if (message.conversation) {
              <span>{{ message.conversation.id }}</span>
            }
          </p>
          <p class="mb-0">
            <strong>Profile Details ID:</strong>
            @if (message.profileDetails) {
              <span>{{ message.profileDetails.id }}</span>
            }
          </p>
        </a>
      }
    </div>
  }
</div>
