#page-heading {
  font-weight: bold;
  margin-bottom: 40px;
}

.item-container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
  background-color: #000000;
  gap: 15px;
  //row-gap: 1px;
  //padding: 35px;
  margin-left: auto;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(99, 96, 96, 0.2);
  position: relative;
  border: 1px solid #e6d57a; /* Light yellow border */
  background: #89d1ff;
  transition:
    transform 0.6s ease-in-out,
    box-shadow 0.6s ease-in-out;

  height: 97%;
  width: 100%;
  a {
    text-decoration: none;
  }
}

.jh-create-entity {
  background: lightpink;
  border-radius: 40px;
  width: 25%;
  display: block;
  color: black;
  font-weight: bold;
}

.jh-create-entity:hover {
  transform: translateY(-5px);
  background: #80ef80;
}

.card-header {
  margin-top: -10px;
  margin-bottom: -20px;
  display: flex;
  justify-content: space-between; /* Pushes icons to opposite sides */
  align-items: center; /* Ensures vertical alignment */
  //bottom: px;
  // position: relative;
}

.card-img-top {
  width: 80%; // Makes the image fill the card width
  object-fit: cover; // Ensures the image maintains aspect ratio without distortion
  border-radius: 2px; // Rounded corners for the image
  margin: 7px auto; // Center the image with some margin
  display: block;
  border: 1px solid #000000;
}

.card:hover {
  transform: translateY(-5px);
  transition: all ease 0.3s;
}

.card-body {
  padding-bottom: 15px;
  text-align: left;
}

.item-title-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  //color: #333;
  color: #0022ff; // Bootstrap primary color
  transition: color 0.3s ease-in-out;
  text-transform: capitalize;
}

.item-title-link:hover {
  color: #0056b3; // Darker blue on hover
  text-decoration: underline;
}

.heart-icon {
  position: relative;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin-left: -8px;
}

.heart-icon.active {
  color: black;
}

.dots-icon {
  font-size: 20px;
  cursor: pointer;
  margin-right: -3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background: white;
}

.card-title {
  margin-top: -15px;
  text-transform: capitalize;
}

.card-text {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

.texts {
  display: flex;
  justify-content: space-between; /* Pushes icons to opposite sides */
  align-items: center; /* Ensures vertical alignment */
  //bottom: px;
  // position: relative;
}

//
//.card-details {
//  display: flex;
//  justify-content: space-between;
//  font-weight: bold;
//}

//&:hover {
//  transform: translateY(-10px);
//  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
//}
