<div>
  <h2 id="page-heading" data-cy="ItemHeading">
    <span>Item List</span>

    <div class="d-flex justify-content-end"></div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (items?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Items found</span>
    </div>
  }

  @if (items && items.length > 0) {
    <div class="row g-5">
      @for (item of items; track trackId(item)) {
        <div class="col-md-3">
          <div class="card shadow-sm">
            @if (item.itemImage) {
              <a [routerLink]="['/item', item.id, 'view']">
                <img class="card-img-top" [src]="'data:' + item.itemImageContentType + ';base64,' + item.itemImage" alt="item" />
              </a>
            }

            <div class="card-body">
              <h5 class="card-title">
                <a [routerLink]="['/item', item.id, 'view']" class="item-title-link">{{ item.itemTitle }}</a>
              </h5>

              <p class="card-text"><strong>Price:</strong> {{ item.itemPrice }}</p>
              <p class="card-text"><strong>Size:</strong> {{ item.itemSize }}</p>
              <p class="card-text">
                <strong>Condition:</strong>
                {{
                  {
                    null: '',
                    BRANDNEW: 'Brand New',
                    LIKENEW: 'Like New',
                    FAIRLYUSED: 'Fairly Used',
                    WELLUSED: 'Well Used',
                    HEAVILYUSED: 'Heavily Used',
                  }[item.itemCondition ?? 'null']
                }}
              </p>
              <p class="card-text">
                <strong>Category:</strong>
                {{
                  {
                    null: '',
                    FOOTWEAR: 'Footwear',
                    CLOTHING: 'Clothing',
                    HEADWEAR: 'Headwear',
                    ELECTRONICS: 'Electronics',
                    HOBBIES: 'Hobbies',
                    BAGS: 'Bags',
                    OTHERS: 'Others',
                  }[item.itemCategory ?? 'null']
                }}
              </p>
              <div class="d-flex justify-content-between"></div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
