#page-heading {
  font-weight: bold;
  margin-bottom: 40px;
}

.button-container {
  text-align: center;
  margin-bottom: 15px;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  //width: 100%;
  justify-content: flex-start;
}

.item-card {
  // flex: 1 1 calc(25% - 20px); /* 4 items per row */
  flex: 0 0 250px;
  height: 300px;
  min-width: 200px;
  max-width: 250px; /* Prevents excessive stretching */
  background: transparent;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .item-card {
    flex: 1 1 calc(50% - 20px); /* 2 items per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .item-list {
    justify-content: center; /* Center items if only one */
  }
  .item-card {
    flex: 1 1 100%; /* Single column for mobile */
  }
}

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(99, 96, 96, 0.2);
  position: relative;
  border: 1.5px solid black; /* Light yellow border */
  background: white;
  transition:
    transform 0.6s ease-in-out,
    box-shadow 0.6s ease-in-out;

  height: 90%;
  width: 100%;
  a {
    text-decoration: none;
  }
}

.jh-create-entity {
  background: #5c6e58;
  border-radius: 30px;
  width: 200px;
  display: block;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
}

.jh-create-entity:hover {
  transform: translateY(-5px);
  background: #284727;
  color: #f6bfbf;
}

.card-header {
  margin-top: -10px;
  margin-bottom: -20px;
  display: flex;
  justify-content: space-between; /* Pushes icons to opposite sides */
  align-items: center; /* Ensures vertical alignment */
  //bottom: px;
  // position: relative;
}

.card-img-top {
  width: 85%; // Makes the image fill the card width
  object-fit: cover; // Ensures the image maintains aspect ratio without distortion
  border-radius: 2px; // Rounded corners for the image
  margin: 10px auto; // Center the image with some margin
  margin-top: 50px;
  display: block;
  border: 1px solid transparent;
  height: 130px;
  //padding-top: 10px;
}

.card:hover {
  transform: translateY(-5px);
  transition: all ease 0.3s;
}

.card-body {
  padding-bottom: 15px;
  text-align: left;
}

.item-title-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  //color: #333;
  color: #575555; // Bootstrap primary color
  transition: color 0.3s ease-in-out;
  text-transform: capitalize;
}

.item-title-link:hover {
  color: black; // Darker blue on hover
  text-decoration: underline;
}

.heart-icon {
  position: relative;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin-left: -8px;
}

.heart-icon.active {
  color: black;
}

.dots-icon {
  font-size: 20px;
  cursor: pointer;
  margin-right: -3px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #575555;
}

.dropdown-content a:hover {
  background: white;
}

.card-title {
  margin-top: -15px;
  text-transform: capitalize;
}

.card-text {
  font-size: 0.9rem;
  color: #575555;
  margin-bottom: 5px;
}

.texts {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Ensures vertical alignment */
}
