<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-user-details-heading" data-cy="UserDetailsCreateUpdateHeading">Create or edit a User Details</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let bioImageRef = editForm.get('bioImage')!;
        <div class="mb-3">
          <label class="form-label" for="field_bioImage">Bio Image</label>
          <div>
            @if (bioImageRef.value) {
              <img
                [src]="'data:' + editForm.get('bioImageContentType')!.value + ';base64,' + bioImageRef.value"
                style="max-height: 100px"
                alt="userDetails"
              />
            }
            @if (bioImageRef.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ editForm.get('bioImageContentType')!.value }}, {{ byteSize(bioImageRef.value!) }}</span>
                <button
                  type="button"
                  (click)="clearInputImage('bioImage', 'bioImageContentType', 'file_bioImage')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input type="file" id="file_bioImage" data-cy="bioImage" (change)="setFileData($event, 'bioImage', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="bioImage" id="field_bioImage" data-cy="bioImage" formControlName="bioImage" />
          <input
            type="hidden"
            class="form-control"
            name="bioImageContentType"
            id="field_bioImageContentType"
            formControlName="bioImageContentType"
          />
        </div>

        @let userNameRef = editForm.get('userName')!;
        <div class="mb-3">
          <label class="form-label" for="field_userName">User Name</label>
          <input type="text" class="form-control" name="userName" id="field_userName" data-cy="userName" formControlName="userName" />
          @if (userNameRef.invalid && (userNameRef.dirty || userNameRef.touched)) {
            <div>
              @if (editForm.get('userName')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              @if (editForm.get('userName')?.errors?.pattern) {
                <small class="form-text text-danger">This field should follow pattern for User Name.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_birthDate">Birth Date</label>
          <div class="input-group">
            <input
              id="field_birthDate"
              data-cy="birthDate"
              type="text"
              class="form-control"
              name="birthDate"
              ngbDatepicker
              #birthDateDp="ngbDatepicker"
              formControlName="birthDate"
            />
            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_meetupLocations">Meetup Locations</label>
          <select
            class="form-control"
            id="field_meetupLocations"
            data-cy="meetupLocations"
            multiple
            name="meetupLocations"
            formControlName="meetupLocations"
            [compareWith]="compareLocation"
          >
            @for (locationOption of locationsSharedCollection; track $index) {
              <option [ngValue]="locationOption">{{ locationOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_chats">Chats</label>
          <select
            class="form-control"
            id="field_chats"
            data-cy="chats"
            multiple
            name="chats"
            formControlName="chats"
            [compareWith]="compareConversation"
          >
            @for (conversationOption of conversationsSharedCollection; track $index) {
              <option [ngValue]="conversationOption">{{ conversationOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
